.footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    background-color: hotpink;
    color: #000;
    

    .social {
        a {
    
            text-decoration: none;
    
            font-size: 3rem;
            color: aliceblue;
        }
   }
}
