.header {
    display: grid;
    padding: 2rem;
    align-items: center;
    background-color: hotpink;
    
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#nav.hidden {
    display: none;
}

.nav a {
    font-size: 1rem;

}

.title a {
    color: #333333;
    text-decoration: none;
}