* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Landing page layout */
.landing-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tre kolumner på större skärmar */
    gap: 1rem;
    max-width: 960px;
    margin: 0 auto;
}

/* Stora rubriken */
.landing-page h1 {
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 1.96rem;
    text-align: center;
}

/* Teknologisektionen */
.technology-section {
    grid-column: span 3; /* Teknologierna tar hela bredden i gridet */
    text-align: center;
    margin-bottom: 2rem; /* Skapa lite utrymme mellan rubrik och boxar */
}

.technology-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

/* Boxar på landing page */
.box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1.96rem;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.box:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.technology {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.technology .article {
    width: 60%;
}

.technology .menu {
    width: 30%;
}

.box img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.box h3 {
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

/* Stilar för att låta boxarna ta upp olika antal kolumner */
.one-column {
    grid-column: span 1;
}

.two-columns {
    grid-column: span 2;
}

.three-columns {
    grid-column: span 3;
}

/* Media Query: Justering för mindre skärmar */
@media (max-width: 768px) {
    .landing-page {
        grid-template-columns: 1fr; 
    }
    .technology-section {
        grid-column: span 1; 
    }
    .menu {
        display: none; 
    }
}
