{% include 'incl/header.twig' %}

<body>
    <div class="header-section">
        <!-- Horisontell linje efter headern -->
        <hr class="styled-line-dark">
        {% include 'incl/nav.twig' %}
    </div>

    <div class="main" role="main">
        {{ content }}
    </div>

    <hr class="styled-line"> <!-- Horisontell linje mellan main och footer -->

    {% include 'incl/footer.twig' %}
</body>

</html>
